@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Emilys+Candy&family=Frank+Ruhl+Libre&family=Katibeh&family=Lora&family=Nanum+Myeongjo&family=Noto+Serif+JP:wght@200;300&family=Nunito+Sans&family=Peddana&family=Roboto+Mono:wght@200&family=Rubik&family=Shippori+Antique+B1&family=Staatliches&family=Zen+Antique&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

li a:hover {
  color: gray;
  text-decoration: underline;
}

/* Active Header */
.active_header {
  display: block;
  width: 100%;
  height: 0%;
  position: fixed;
  top: 0px;
  z-index: -3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
}
.active_header.active {
  height: 100%;
  z-index: 3;
}
.header_menu {
  width: 70%;
  margin: auto;
  margin-top: 9%;
}
.header_menu ul {
  position: fixed;
}
.header_menu ul li {
  margin-bottom: 30%;
}
.header_menu ul li a {
  font-size: 30px;
  font-weight: lighter;
}
.header_footer {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 90%;
  left: 10%;
}
.header_footer div {
  width: 25%;
  padding: 0% 4%;
}
.header_footer div a {
  padding: 0px 12px;
}
.header_footer div p,
.header_footer div h5 {
  font-size: 12px;
  font-weight: lighter;
  padding: 3%;
}
#copy {
  position: relative;
  left: 15%;
}

/* Header */

.header_img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.header_img img {
  height: 100vh;
}
.header_icon {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 4;
  cursor: pointer;
}
.header_text {
  position: fixed;
  left: 2%;
  top: 93%;
  z-index: 2;
}
.header_logo {
  position: fixed;
  z-index: 2;
  left: 2%;
  top: 5%;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.header_logo:hover {
  opacity: 0.7;
}

/* NEWS */
#head_news {
  width: 70%;
  margin-top: 30%;
  padding: 1.5%;
  background-color: none;
  display: flex;
  align-items: center;
}
#head_news div {
  padding: 0.5% 3%;
}
#head_news .news_title {
  border-right: 1px solid white;
}
#head_news .news_content {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
  font-weight: bold;
  transition: 0.3s ease-in;
  cursor: pointer;
}
#head_news .news_content:hover {
  opacity: 0.6;
}
#head_news .news_icon {
  cursor: pointer;
  padding: 0.5% 1%;
}

.head_news {
  width: 70%;
  padding: 1.5%;
  background-color: none;
  display: flex;
  align-items: center;
}
.head_news div {
  padding: 0.5% 3%;
}
.head_news .news_title {
  border-right: 1px solid white;
}
.head_news .news_title h3 {
  visibility: hidden;
}
.head_news .news_content {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
  font-weight: bold;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.head_news .news_content:hover {
  opacity: 0.6;
}
#toggle_news {
  display: none;
  transition: 0.4s;
}
#toggle_news.active {
  display: block;
}

/* Model Slider */
#model {
  width: 100%;
  overflow: hidden;
  margin-top: 5%;
}
.model_slide {
  width: 800%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}
.slide_img {
  width: 16.1%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 0.2%;
}

/* Buttons */
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1% 0%;
}
.buttons div {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0% 5% 0%;
}
.buttons button {
  width: 180px;
  background: none;
  border: 1px double white;
  padding: 1%;
  margin: 0% 1%;
  font-size: 16px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.buttons button:hover {
  background: #181818;
}

/* Goal */
.about_us {
  width: 100%;
  background-color: #181818;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5% 0% 5% 30%;
  position: relative;
  z-index: 1;
}
.about_us h1 {
  font-size: 32px;
  font-weight: lighter;
  opacity: 0.9;
  padding: 1%;
}
.about_us div {
  width: 70%;
  padding: 1%;
}
.about_us div h3 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 28px;
  word-spacing: 8px;
  opacity: 0.8;
}
.about_us div p {
  opacity: 0.8;
  padding: 1% 0%;
}

/* Videos */
.highlight {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.highlight h2 {
  color: #181818;
}
.product {
  width: 100%;
  color: black;
  padding-top: 9%;
}
.product > h2 {
  position: relative;
  left: 20%;
  padding-bottom: 5%;
}
.product .new_eqs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  position: relative;
  left: 10%;
}
.product .new_eqs > div {
  width: 35%;
  filter: grayscale(100%);
  transition: 0.1s ease-in;
  cursor: pointer;
  text-align: center;
  padding: 0% 1%;
}
.product .new_eqs div:hover {
  filter: brightness(120%);
}
.product .new_eqs div img {
  width: 100%;
}
.product .new_eqs p {
  padding: 3% 0%;
}

/* Studio */
.studio {
  width: 100%;
  background-color: #181818;
  text-align: center;
}
.studio h2 {
  font-size: 30px;
  padding: 5%;
  text-shadow: 2px 2px 2px red;
}
.studio_text {
  width: 40%;
  margin: auto;
}
.studio_text p {
  padding: 3%;
}
.studio h1 {
  font-size: 40px;
  font-weight: lighter;
  padding: 5%;
  text-shadow: 2px 2px 2px blue;
}
.studio_content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 5% 0%;
}
.studio_content p {
  font-size: 1vw;
}
.studio_content div {
  width: 35%;
  padding: 0% 2%;
}
.studio_content > div > img {
  width: 100%;
}
#studio_content_text {
  width: 30%;
}
#studio_content_text > p {
  padding-bottom: 3%;
}
#forest {
  width: 100%;
}

/* Studio2 */
.studio2 {
  width: 90%;
  margin: auto;
}
.studio_content2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-bottom: 2%;
}
.studio_content2 h2 {
  padding: 4% 0%;
}
.studio_content2 div {
  width: 40%;
  padding: 3%;
}
#fortune {
  display: flex;
  justify-content: center;
}
.studio_content2 div img {
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.studio_content2 div img:hover {
  transform: scale(1.05);
}
#last_content {
  padding-bottom: 10%;
}

/* Section4 */
.news {
  width: 80%;
  text-align: center;
  position: relative;
  top: -10vh;
  z-index: 1;
  background-color: slategrey;
  background-size: cover;
  background-position: center;
}
.news h1 {
  font-weight: 300;
  padding: 4% 0%;
  border-bottom: 1px solid white;
}
.news_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
}
.news_header h4 {
  font-weight: 300;
}
.news_header div {
  width: 38%;
  padding: 0% 0.1%;
  cursor: pointer;
}
.news_header div:hover {
  opacity: 0.7;
}
.news_header div img {
  width: 100%;
}
.news_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news_content div {
  width: 25.4%;
  padding: 2% 0.25%;
  cursor: pointer;
}
.news_content div:hover {
  opacity: 0.8;
}
.news_content div img {
  width: 100%;
}
.news_content p {
  min-height: 30px;
  font-size: 13px;
}
#last_child {
  padding-bottom: 10%;
}

/* Section5 */
.sport_channels {
  width: 100%;
  padding-bottom: 2%;
}
.sport_channels h1 {
  text-align: center;
  color: #181818;
  padding: 1% 0%;
}
.sport_channels .channel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sport_channels .channel div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0%;
}
.sport_channels .channel div img {
  width: 80%;
}
.sport_channels div p {
  width: 70%;
  color: #181818;
  font-size: 13px;
}

/* Footer */
.footer {
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
  padding: 2% 0%;
  background-color: #181818;
}
.footer div {
  padding-bottom: 2%;
}
.nobr {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 1% 0%;
}
.footer div {
  width: 90%;
  margin: auto;
}
.nobr p {
  padding-left: 5px;
}

/* Footer 2 */
.outer {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3% 0%;
  font-size: 14px;
  background-color: #181818;
  border-top: 1px solid gray;
}
.outer_list {
  width: 30%;
  display: flex;
  align-items: center;
}
.outer_list ul {
  padding: 0% 10%;
}
.outer_list ul li {
  padding: 4px;
}
#footer_logo {
  height: 40px;
}
.outer_icons {
  width: 30%;
}
.outer_icons div {
  padding-top: 3%;
}

.outer_icons .outer_icon {
  padding: 1%;
  margin-right: 3%;
  font-size: 36px;
  transition: 0.3s ease-in-out;
}
.outer_icon:hover {
  color: royalblue;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .header_text {
    display: none;
  }
  .header_logo {
    width: 5%;
  }
  .slide_img iframe {
    height: 50vh;
  }
  .about_us div h3 {
    font-size: 16px;
  }
  .studio_content2 div h2,
  .studio_content2 div p {
    font-size: 14px;
  }
  .studio_content2 div img {
    width: 75%;
  }
  #last_content {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 769px) {
  .header_logo {
    display: none;
  }
  .about_us h1 {
    font-size: 24px;
  }
  .about_us div h3 {
    line-height: 20px;
  }
  .about_us div p {
    display: none;
  }
  .new_eqs div p {
    font-size: 14px;
  }
  #studio_content_text {
    display: none;
  }
  .studio_content2 div {
    margin: 3% 0%;
  }
  .news p,
  .news h4 {
    font-size: 10px;
  }
  .footer div p {
    font-size: 11px;
  }
  .sport_channels p {
    display: none;
  }
  .outer_icons p {
    display: none;
  }
  .outer_icons {
    display: flex;
    justify-content: center;
  }
  .outer_icons div .outer_icon {
    font-size: 24px;
  }
  .header_footer p,
  .header_footer h5 {
    display: none;
  }
  .block {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .outer_icon {
    font-size: 22px;
  }

  @media screen and (max-width: 500px) {
    .news_content p {
      font-weight: 300;
    }
    .slide_img iframe {
      height: 300px;
    }
    .about_us div h3 {
      font-size: 12px;
      word-spacing: 2px;
    }
    .delete {
      display: none;
    }
    .news_content div p {
      height: 50px;
      margin-bottom: 20px;
    }
    .footer div {
      padding: 3% 0%;
    }
    .outer {
      display: flex;
      justify-content: center;
    }
    .outer_icons div {
      width: 150px;
      padding: 0;
    }
    .outer_list ul {
      display: none;
    }
    .header_menu {
      position: relative;
      top: 15%;
    }
    .header_icon {
      width: 6%;
    }
    .news_icon {
      width: 80%;
    }
    #head_news {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
    }
    #head_news .news_content {
      width: 86%;
    }
    .news_title {
      border: 1px solid white;
      margin-bottom: 15%;
    }
    .news_content {
      cursor: pointer;
    }
    .news_content p {
      font-size: 13px;
    }
    #toggle_news > .head_news {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      padding-bottom: 10%;
    }
    #toggle_news > .head_news > .news_title {
      display: none;
    }
    #toggle_news > .head_news > .news_content {
      width: 90%;
      padding: 0;
    }

    /* Goal */
    .about_us {
      display: none;
    }

    /* Highlight */
    .highlight {
      width: 100%;
      background: none;
      background-color: #181818;
      background-size: 1200%;
      margin-top: 25%;
    }
    .highlight .product {
      width: 80%;
      margin: auto;
    }
    .highlight h2 {
      font-size: 22px;
      position: relative;
      left: 0%;
      text-align: center;
      color: white;
      padding: 10% 0%;
      text-shadow: 2px 2px 2px blue;
    }
    .product .new_eqs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .product > .new_eqs > div {
      width: 100%;
      position: relative;
      left: -7%;
      padding: 10% 0%;
      filter: none;
    }
    .product .new_eqs div p {
      font-size: 14px;
      color: white;
    }

    /* Studio */
    .studio > h2 {
      text-shadow: 2px 2px 2px red;
      padding: 20% 0%;
    }
    .studio_text {
      width: 90%;
      margin: auto;
    }
    .studio_text p {
      font-size: 14px;
    }
    .studio h1 {
      padding: 15% 0%;
      text-shadow: 2px 2px 2px blueviolet;
    }
    .studio_content div {
      width: 90%;
      margin-bottom: 10%;
    }
    .studio_content p {
      font-size: 16px;
      text-align: center;
    }

    /* Studio2 */
    .studio2 {
      margin-top: 15%;
    }
    .studio_content2 div h2 {
      font-size: 28px;
    }
    .studio_content2 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .studio_content2 div {
      width: 100%;
      text-align: center;
    }
    .studio_content2 .studio2_img img {
      display: none;
    }
    #last_content {
      display: none;
    }
    #middle_content {
      padding-bottom: 40%;
    }
    .news_header {
      display: flex;
      flex-direction: column;
    }
    .news_header div {
      width: 90%;
      padding: 10% 0%;
    }
    .news_header div h4 {
      font-size: 14px;
    }
    .news_content div {
      width: 90%;
    }
    .news_content div p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 401px) {
    .slide_img {
      padding: 0% 1%;
    }
    .head_news {
      width: 80%;
    }
    #model {
      display: none;
    }
    .about_us h1 {
      font-size: 18px;
    }
    .about_us {
      padding-left: 20%;
    }
    .about_us div {
      width: 85%;
    }
    .product h2 {
      font-size: 14px;
    }
    .new_eqs div p {
      font-size: 10px;
      font-weight: bold;
    }
    .studio_content div {
      width: 70%;
      padding-bottom: 10%;
    }
    .sport_channels {
      display: none;
    }
    .nobr {
      display: none;
    }
    .outer .outer_icons div {
      display: flex;
      flex-direction: row;
    }
    .outer .outer_icons div a {
      padding: 0px 4px;
    }
    #footer_logo {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 300px) {
  .studio h4 {
    display: none;
  }
  .studio h1 {
    font-size: 28px;
    padding: 20% 0%;
  }
  .studio_content div p {
    font-size: 12px;
  }

  /* news */
  .news {
    width: 100%;
    position: relative;
    top: 10%;
  }
  .news h1 {
    font-size: 24px;
  }

  /* Footer */
  #footer_logo {
    display: none;
  }
  .outer {
    padding: 5% 0%;
  }
}
